#favorite:hover{
    color: #ffffff;
    background-color:#8a00fc;
    border-color: rgb(110, 110, 110);
    transition: 1s;
}
#delete:hover{
    color: #ffffff;
    background-color: #bb0303;
    border-color: rgb(133, 132, 132);
    transition: 1s;
}
.card-body:hover{
    background-color: #f5f5f5;
    transition: .5s;
}
#submitSongButton:hover{
    color: #ffffff;
    background-color: #13a805;
    border-color: rgb(133, 132, 132);
    transition: .4s;
}
#edit:hover{
    color: #ffffff;
    background-color: #055fa8;
    border-color: rgb(133, 132, 132);
    transition: .4s;
}
#editable:hover{
    color: #ffffff;
    background-color: #055fa8;
    border-color: rgb(133, 132, 132);
    transition: .4s;
}